.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  position: relative;
  text-align: center;
  z-index: 2;
  overflow: hidden;  /* 내용이 넘치지 않도록 */

}

.main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* 배경 이미지를 화면 전체에 채우기 */
  background-image: url('https://gi.esmplus.com/jjumang/pipi/%EB%8C%80%EC%A7%80%202.png'); /* 배경 이미지 */
  background-size: cover; /* 이미지가 화면에 꽉 차도록 설정 */
  background-position: center ; /* 이미지를 중앙 정렬하면서 아래로 20px 이동 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  opacity: 0.5; /* 배경 반투명 효과 */
  z-index: -1; /* 배경을 텍스트 뒤로 보내기 */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.title {
  font-size: 48px;
  margin: 0;
  margin-top: -50px;
  text-align: center;
}

.description {
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

.buttonContainer {
  position: absolute;  /* 절대 위치로 변경 */
  bottom: 0%;  /* 아래에서부터의 위치 조정 */
  left: 50%;
  transform: translateX(-50%);  /* 가로 중앙 정렬 */
  display: flex;
  gap: 40px;
  z-index: 2;
}

.button {
  padding: 40px 30px;
  background-color: #9b5dc5;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  white-space: nowrap;  /* 텍스트가 한 줄로 유지되도록 추가 */
}

.button:hover {
  background-color: #9F8AC9;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
  